Hangman.Client/Connected Services/ServiceReferenceMatchNotification/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="request" nillable="true" type="q1:SubscribeMatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="SubscribeResult" nillable="true" type="q2:SubscribeMatchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="request" nillable="true" type="q3:UnsubscribeMatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="UnsubscribeResult" nillable="true" type="q4:UnsubscribeMatchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeAvailableLobbies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="request" nillable="true" type="q5:SubscribeAvailableLobbiesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeAvailableLobbiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="SubscribeAvailableLobbiesResult" nillable="true" type="q6:SubscribeAvailableLobbiesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeAvailableLobbies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="request" nillable="true" type="q7:UnsubscribeAvailableLobbiesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeAvailableLobbiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="UnsubscribeAvailableLobbiesResult" nillable="true" type="q8:UnsubscribeAvailableLobbiesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnLobbyUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnLobbyClosed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" type="xs:int" />
        <xs:element minOccurs="0" name="messageCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMatchStatusChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="matchId" type="xs:int" />
        <xs:element minOccurs="0" name="matchStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAvailableLobbiesChanged">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMatchChatMessageReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="message" nillable="true" type="q9:MatchChatMessageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>