Hangman.Client/Connected Services/ServiceReferenceMatchGameplay/MatchGameplayService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8085/Hangman/MatchGameplayService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" />
  <xs:element name="VoteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="request" nillable="true" type="q1:VoteCategoryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoteCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="VoteCategoryResult" nillable="true" type="q2:VoteCategoryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryVotingState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="request" nillable="true" type="q3:GetCategoryVotingStateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryVotingStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="GetCategoryVotingStateResult" nillable="true" type="q4:GetCategoryVotingStateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveCategoryVoting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="request" nillable="true" type="q5:ResolveCategoryVotingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveCategoryVotingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="ResolveCategoryVotingResult" nillable="true" type="q6:ResolveCategoryVotingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectableWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="request" nillable="true" type="q7:GetSelectableWordsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectableWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="GetSelectableWordsResult" nillable="true" type="q8:GetSelectableWordsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="request" nillable="true" type="q9:SelectWordRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" minOccurs="0" name="SelectWordResult" nillable="true" type="q10:SelectWordResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>