Hangman.Client/Connected Services/ServiceReferenceAuth/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8085/Hangman/AuthService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8085/Hangman/AuthService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8085/Hangman/AuthService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Auth" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_VerifyEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyEmail" />
  </wsdl:message>
  <wsdl:message name="IAuthService_VerifyEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ResendVerificationEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ResendVerificationEmail" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ResendVerificationEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResendVerificationEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_RequestPasswordReset_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestPasswordReset" />
  </wsdl:message>
  <wsdl:message name="IAuthService_RequestPasswordReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestPasswordResetResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IAuthService_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/Register" message="tns:IAuthService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/RegisterResponse" message="tns:IAuthService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/Login" message="tns:IAuthService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/LoginResponse" message="tns:IAuthService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/VerifyEmail" message="tns:IAuthService_VerifyEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/VerifyEmailResponse" message="tns:IAuthService_VerifyEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResendVerificationEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/ResendVerificationEmail" message="tns:IAuthService_ResendVerificationEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/ResendVerificationEmailResponse" message="tns:IAuthService_ResendVerificationEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestPasswordReset">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/RequestPasswordReset" message="tns:IAuthService_RequestPasswordReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/RequestPasswordResetResponse" message="tns:IAuthService_RequestPasswordReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/ResetPassword" message="tns:IAuthService_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/ResetPasswordResponse" message="tns:IAuthService_ResetPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthService" type="tns:IAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IAuthService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAuthService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyEmail">
      <soap:operation soapAction="http://tempuri.org/IAuthService/VerifyEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendVerificationEmail">
      <soap:operation soapAction="http://tempuri.org/IAuthService/ResendVerificationEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPasswordReset">
      <soap:operation soapAction="http://tempuri.org/IAuthService/RequestPasswordReset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/IAuthService/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="BasicHttpBinding_IAuthService" binding="tns:BasicHttpBinding_IAuthService">
      <soap:address location="http://localhost:8085/Hangman/AuthService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>