Hangman.Client/Connected Services/ServiceReferenceAuth/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8085/Hangman/AuthService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Auth" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Auth" minOccurs="0" name="request" nillable="true" type="q1:RegisterRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Auth" minOccurs="0" name="RegisterResult" nillable="true" type="q2:RegisterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Auth" minOccurs="0" name="request" nillable="true" type="q3:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Auth" minOccurs="0" name="LoginResult" nillable="true" type="q4:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Auth" minOccurs="0" name="request" nillable="true" type="q5:VerifyEmailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Auth" minOccurs="0" name="VerifyEmailResult" nillable="true" type="q6:VerifyEmailResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendVerificationEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Auth" minOccurs="0" name="request" nillable="true" type="q7:ResendVerificationEmailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendVerificationEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Auth" minOccurs="0" name="ResendVerificationEmailResult" nillable="true" type="q8:ResendVerificationEmailResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPasswordReset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Auth" minOccurs="0" name="request" nillable="true" type="q9:RequestPasswordResetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPasswordResetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Auth" minOccurs="0" name="RequestPasswordResetResult" nillable="true" type="q10:RequestPasswordResetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Auth" minOccurs="0" name="request" nillable="true" type="q11:ResetPasswordRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Auth" minOccurs="0" name="ResetPasswordResult" nillable="true" type="q12:ResetPasswordResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>