Hangman.Client/Connected Services/ServiceReferenceMatch/MatchService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateLobbyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostAccountId" type="xs:int" />
      <xs:element minOccurs="0" name="HostLanguageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateLobbyRequest" nillable="true" type="tns:CreateLobbyRequest" />
  <xs:complexType name="CreateLobbyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lobby" nillable="true" type="tns:MatchLobbyDto" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateLobbyResponse" nillable="true" type="tns:CreateLobbyResponse" />
  <xs:complexType name="MatchLobbyDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryVotingEndsAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CategoryVotingStartedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinishedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GuestFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GuestId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GuestLanguageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostId" type="xs:int" />
      <xs:element minOccurs="0" name="HostLanguageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JoinedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="MatchStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PenalizedUserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedCategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedCategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectedWordId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WinnerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WordSelectionEndsAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WordSelectionStartedAt" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchLobbyDto" nillable="true" type="tns:MatchLobbyDto" />
  <xs:complexType name="GetAvailableLobbiesRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAvailableLobbiesRequest" nillable="true" type="tns:GetAvailableLobbiesRequest" />
  <xs:complexType name="GetAvailableLobbiesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lobbies" nillable="true" type="tns:ArrayOfAvailableLobbyDto" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAvailableLobbiesResponse" nillable="true" type="tns:GetAvailableLobbiesResponse" />
  <xs:complexType name="ArrayOfAvailableLobbyDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvailableLobbyDto" nillable="true" type="tns:AvailableLobbyDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvailableLobbyDto" nillable="true" type="tns:ArrayOfAvailableLobbyDto" />
  <xs:complexType name="AvailableLobbyDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HostEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostId" type="xs:int" />
      <xs:element minOccurs="0" name="HostLanguageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="MatchStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailableLobbyDto" nillable="true" type="tns:AvailableLobbyDto" />
  <xs:complexType name="JoinLobbyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="GuestAccountId" type="xs:int" />
      <xs:element minOccurs="0" name="GuestLanguageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinLobbyRequest" nillable="true" type="tns:JoinLobbyRequest" />
  <xs:complexType name="JoinLobbyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lobby" nillable="true" type="tns:MatchLobbyDto" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinLobbyResponse" nillable="true" type="tns:JoinLobbyResponse" />
  <xs:complexType name="GetCurrentLobbyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCurrentLobbyRequest" nillable="true" type="tns:GetCurrentLobbyRequest" />
  <xs:complexType name="GetCurrentLobbyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lobby" nillable="true" type="tns:MatchLobbyDto" />
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetCurrentLobbyResponse" nillable="true" type="tns:GetCurrentLobbyResponse" />
  <xs:complexType name="LeaveLobbyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaveLobbyRequest" nillable="true" type="tns:LeaveLobbyRequest" />
  <xs:complexType name="LeaveLobbyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaveLobbyResponse" nillable="true" type="tns:LeaveLobbyResponse" />
</xs:schema>