Hangman.Client/Connected Services/ServiceReferenceMatch/MatchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MatchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8085/Hangman/MatchService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8085/Hangman/MatchService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8085/Hangman/MatchService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatchService_CreateLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobby" />
  </wsdl:message>
  <wsdl:message name="IMatchService_CreateLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetAvailableLobbies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableLobbies" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetAvailableLobbies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableLobbiesResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_JoinLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobby" />
  </wsdl:message>
  <wsdl:message name="IMatchService_JoinLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetCurrentLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentLobby" />
  </wsdl:message>
  <wsdl:message name="IMatchService_GetCurrentLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchService_LeaveLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobby" />
  </wsdl:message>
  <wsdl:message name="IMatchService_LeaveLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveLobbyResponse" />
  </wsdl:message>
  <wsdl:portType name="IMatchService">
    <wsdl:operation name="CreateLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/CreateLobby" message="tns:IMatchService_CreateLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/CreateLobbyResponse" message="tns:IMatchService_CreateLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableLobbies">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/GetAvailableLobbies" message="tns:IMatchService_GetAvailableLobbies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/GetAvailableLobbiesResponse" message="tns:IMatchService_GetAvailableLobbies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/JoinLobby" message="tns:IMatchService_JoinLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/JoinLobbyResponse" message="tns:IMatchService_JoinLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/GetCurrentLobby" message="tns:IMatchService_GetCurrentLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/GetCurrentLobbyResponse" message="tns:IMatchService_GetCurrentLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchService/LeaveLobby" message="tns:IMatchService_LeaveLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchService/LeaveLobbyResponse" message="tns:IMatchService_LeaveLobby_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMatchService" type="tns:IMatchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateLobby">
      <soap:operation soapAction="http://tempuri.org/IMatchService/CreateLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableLobbies">
      <soap:operation soapAction="http://tempuri.org/IMatchService/GetAvailableLobbies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinLobby">
      <soap:operation soapAction="http://tempuri.org/IMatchService/JoinLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentLobby">
      <soap:operation soapAction="http://tempuri.org/IMatchService/GetCurrentLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveLobby">
      <soap:operation soapAction="http://tempuri.org/IMatchService/LeaveLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatchService">
    <wsdl:port name="BasicHttpBinding_IMatchService" binding="tns:BasicHttpBinding_IMatchService">
      <soap:address location="http://localhost:8085/Hangman/MatchService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>