Hangman.Client/Connected Services/ServiceReferenceWord/WordService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8085/Hangman/WordService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Word" />
  <xs:element name="GetCategoriesByLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Word" minOccurs="0" name="request" nillable="true" type="q1:GetCategoriesByLanguageRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesByLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Word" minOccurs="0" name="GetCategoriesByLanguageResult" nillable="true" type="q2:GetCategoriesByLanguageResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>