Hangman.Client/Connected Services/ServiceReferenceProfile/ProfileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Profile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Profile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetProfileRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProfileRequest" nillable="true" type="tns:GetProfileRequest" />
  <xs:complexType name="GetProfileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profile" nillable="true" type="tns:ProfileDto" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProfileResponse" nillable="true" type="tns:GetProfileResponse" />
  <xs:complexType name="ProfileDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="PreferredLanguageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileDto" nillable="true" type="tns:ProfileDto" />
  <xs:complexType name="UpdateProfileRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferredLanguageCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateProfileRequest" nillable="true" type="tns:UpdateProfileRequest" />
  <xs:complexType name="UpdateProfileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profile" nillable="true" type="tns:ProfileDto" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateProfileResponse" nillable="true" type="tns:UpdateProfileResponse" />
  <xs:complexType name="DeleteProfileRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteProfileRequest" nillable="true" type="tns:DeleteProfileRequest" />
  <xs:complexType name="DeleteProfileResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteProfileResponse" nillable="true" type="tns:DeleteProfileResponse" />
</xs:schema>