Hangman.Client/Connected Services/ServiceReferenceMatchGuess/MatchGuessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MatchGuessService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8085/Hangman/MatchGuessService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8085/Hangman/MatchGuessService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8085/Hangman/MatchGuessService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hangman.Contracts.Match" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatchGuessService_GetGameState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameState" />
  </wsdl:message>
  <wsdl:message name="IMatchGuessService_GetGameState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameStateResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchGuessService_GuessLetter_InputMessage">
    <wsdl:part name="parameters" element="tns:GuessLetter" />
  </wsdl:message>
  <wsdl:message name="IMatchGuessService_GuessLetter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuessLetterResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchGuessService_GuessWord_InputMessage">
    <wsdl:part name="parameters" element="tns:GuessWord" />
  </wsdl:message>
  <wsdl:message name="IMatchGuessService_GuessWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuessWordResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchGuessService_ResolveGuessTimeout_InputMessage">
    <wsdl:part name="parameters" element="tns:ResolveGuessTimeout" />
  </wsdl:message>
  <wsdl:message name="IMatchGuessService_ResolveGuessTimeout_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResolveGuessTimeoutResponse" />
  </wsdl:message>
  <wsdl:portType name="IMatchGuessService">
    <wsdl:operation name="GetGameState">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchGuessService/GetGameState" message="tns:IMatchGuessService_GetGameState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchGuessService/GetGameStateResponse" message="tns:IMatchGuessService_GetGameState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuessLetter">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchGuessService/GuessLetter" message="tns:IMatchGuessService_GuessLetter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchGuessService/GuessLetterResponse" message="tns:IMatchGuessService_GuessLetter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuessWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchGuessService/GuessWord" message="tns:IMatchGuessService_GuessWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchGuessService/GuessWordResponse" message="tns:IMatchGuessService_GuessWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResolveGuessTimeout">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchGuessService/ResolveGuessTimeout" message="tns:IMatchGuessService_ResolveGuessTimeout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchGuessService/ResolveGuessTimeoutResponse" message="tns:IMatchGuessService_ResolveGuessTimeout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMatchGuessService" type="tns:IMatchGuessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGameState">
      <soap:operation soapAction="http://tempuri.org/IMatchGuessService/GetGameState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuessLetter">
      <soap:operation soapAction="http://tempuri.org/IMatchGuessService/GuessLetter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuessWord">
      <soap:operation soapAction="http://tempuri.org/IMatchGuessService/GuessWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResolveGuessTimeout">
      <soap:operation soapAction="http://tempuri.org/IMatchGuessService/ResolveGuessTimeout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatchGuessService">
    <wsdl:port name="BasicHttpBinding_IMatchGuessService" binding="tns:BasicHttpBinding_IMatchGuessService">
      <soap:address location="http://localhost:8085/Hangman/MatchGuessService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>